
<a href="/users/<%= @user.id %>/edit"> edit user profile </a>
<a href="">Apply</a>


<% if (logged_in?) %>
<a href="/logout"><button> Log Out</button></a>
<% end %>

<style>
.a {
  text-decoration: none;
  color: red;
  visibility:
}
</style>
