
<h1 class="section-title">About</h1>

<div class="about-content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim earum, voluptas labore ullam consectetur, eligendi nisi similique fugit ad blanditiis pariatur ipsum expedita deserunt adipisci molestias excepturi id doloremque aperiam.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim earum, voluptas labore ullam consectetur, eligendi nisi similique fugit ad blanditiis pariatur ipsum expedita deserunt adipisci molestias excepturi id doloremque aperiam.</p>
  
  <div class="address-map-container">
    <div id="map"> 
    </div>

    <div class="address">
      <strong>Address:</strong>
      <p>L12A 45 William Street, Melbourne VIC 3000, Australia</p>
      <strong>Transport: </strong>
      <p>Tram routes 55/11/12/48/109 Stop Collins Street</p>
    </div>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
       async defer></script>
