
<h1 class="section-title about-title">About</h1>

<div class="about-content">
  <p>Technology moves fast and Australia’s leading and emerging startups will be showcasing products and services that are pushing boundaries in science, health and technology.</p>

  <p>WDI CONF is your chance to discover start ups and meet the founders from around the country that are changing the future.</p>

  <p>This 1 day event will provide access to keynote speakers, exhibitors and networking opportunities, as well as curated investor matchmaking events for those exhibiting.</p>


</div>
