<h1 class="section-title about-title">ABOUT</h1>

<div class="about-wrap">

  <div class="about-image-wrap">
    <div class="about-image">
      <div class="ab-2"></div>
    </div>
      <div class="ab-1"></div>
      <div class="ab-3"></div>
      <div class="ab-4"></div>
      <div class="ab-5"></div>
      <div class="ab-6"></div>
      <div class="ab-7"></div>
  </div>

  <div class="about-content">

    <p>Technology moves fast and Australia’s leading and emerging startups will be showcasing products and services that are pushing boundaries in science, health and technology.</p></br>

    <p>WDI CONF is your chance to discover start ups and meet the founders from around the country that are changing the future.</p></br>

    <p>This 1 day event will provide access to keynote speakers, exhibitors and networking opportunities, as well as curated investor matchmaking events for those exhibiting.</p></br>
  </div>




</div>
