<div id="video-overlay">
  <video id="vid" controls autoplay loop muted>
    <source src="./videos/ourmovie2.mp4" type="video/mp4">
    <source src="./videos/ourmovie2.oog" type="video/oog">
    Your browser does not support HTML5 video.
  </video>
</div>

<div id="home" class="container">
  <nav id="navbar">
    <ul id="navmenu">
      <% if logged_in? %>
        <li><a href="/users/<%= session[:user_id] %>" class="header-link login-name"><img src="/assets/user.png" class="login-avatar"></a></li>
        <li id="logout-icon"><a href="/logout"><button class="logout-button">Log Out</button></a></li>
      <% else %>
        <li id="login-icon"><button class=login-button>Log In</button></li>
      <% end %>
      <%= render partial: "login"%>
      <li id="hamburger"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></li>
      <div id="show-menu">
        <div id="icon-list">

          <% if current_user %>
            <li><a href="/users"><div class="circle-div"><i class="fa fa-user fa-3x icons" aria-hidden="true"></i><span class ="icon-desc">Profile</span>
            </div></a></li>
          <% else %>

            <li><a id="register-btn"><div class="circle-div"><i class="fa fa-user fa-3x icons" aria-hidden="true"></i><span class ="icon-desc">Register</span>
            </div></a></li>
          <% end %>

            <li><a data-scroll href="#speakers"><div class="circle-div"><i class="fa fa-microphone fa-3x icons" aria-hidden="true"></i><span class ="icon-desc">Speakers</span></div></a></li>
            <li><a data-scroll href="#schedule"><div class="circle-div"><i class="fa fa-calendar-o fa-3x icons" aria-hidden="true"></i><span class ="icon-desc">Schedule</span></div></a></li>
            <li><a data-scroll href="#about"><div class="circle-div"><i class="fa fa-code fa-3x icons" aria-hidden="true"></i><span class ="icon-desc">About</span></div></a></li>
            <li><a data-scroll href="#location"><div class="circle-div"><i class="fa fa-map-marker fa-3x icons" aria-hidden="true"></i><span class ="icon-desc">Location</span></div></a></li>
            <li><a data-scroll href="#sponsors"><div class="circle-div"><i class="fa fa-heart fa-3x icons" aria-hidden="true"></i><span class ="icon-desc">Sponsors</span></div></a></li>
          </div>
      </div>

    </ul>
  </nav>

  <div id="overlay">
    <div class="conf-name"></div>
    <h2 class="conf-date">AUGUST 30TH</h2>
    <a href="/tickets"><div><button class="primary-button">BUY TICKETS</button></div></a>
    <div id="countdown"></div>
  </div>
</div>
