<h1 class="section-title">Schedule</h1>
<div class="schedule-events">
   <% @events.each do |event| %>
      <hr class='vertical'>
      <div class="events-card">
          <h3><%=event.name%></h3>
          <p>Start Time: <%=event.time%></p>
          <p>Total ( <%=event.total_seats%> )seats</p>
      </div>
   <% end %>
</div>
