
<h1 class="section-title speaker-title">SPEAKERS</h1>

<div id="display-speakers">
  <ul>
    <% @speakers.each do |speaker| %>
      <li class="speakers-card">
        <div class="speaker-box">
          <p><%= speaker.desc %></p>
        </div>
        <img src="<%= speaker.img%>" alt="">
        <p class="speaker-name"><strong><%= speaker.name%></strong></p>
      </li>
    <% end %>
  </ul>
</div>
