<h1>SPEAKERS</h1>
<% @speakers.each do |speaker| %>
  <div class="speakers-card">
    <div class="image">
      <img src="<%= speaker.img%>" alt="">
    </div>
    <div class="speaker-info">
      <p class="speaker-name"><strong><%= speaker.name%></strong></p>
      <p><%= speaker.email%></p>
      <p><%= speaker.desc%></p>
    </div>
  </div>
<% end %>