<h1 class="title"> Sponsor's Page</h1>
<div class="content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim earum, voluptas labore ullam consectetur, eligendi nisi similique fugit ad blanditiis pariatur ipsum expedita deserunt adipisci molestias excepturi id doloremque aperiam.</p>
</div>
<h2> Bower </h2>
<img src="http://bower.io/img/bower-logo.png" alt="">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim earum, voluptas labore ullam </p>
<h2> StarBucks </h2>
<img src="https://upload.wikimedia.org/wikipedia/en/thumb/d/d3/Starbucks_Corporation_Logo_2011.svg/1017px-Starbucks_Corporation_Logo_2011.svg.png" alt="">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim earum, voluptas labore ullam </p>
<h2> Fanta </h2>
<img src="http://zllox.com/wp-content/uploads/2016/03/Logo-Free.jpg" alt="">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim earum, voluptas labore ullam </p>



<style>
.title{
  font-size: 3em;
  text-align: center;
}
p{
  text-align: center;
}
img {
  margin: auto auto;
  width: 100px;
  height: 100px;
  border: 3px solid #73AD21;
}
</style>
