<h1 class="title"> Sponsor's Page</h1>
<div class="content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim earum, voluptas labore ullam consectetur, eligendi nisi similique fugit ad blanditiis pariatur ipsum expedita deserunt adipisci molestias excepturi id doloremque aperiam.</p>
</div>

<h2> The Panda </h2>
<img src="images/panda-icon.png" alt="">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim earum, voluptas labore ullam </p>
<h2> General Assembly </h2>
<img src="http://static-assets.generalassemb.ly/logos/generalassembly-open-graph.png" alt="">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim earum, voluptas labore ullam </p>




<style>
.title{
  font-size: 3em;
  text-align: center;
}
p{
  text-align: center;
}
img {
  margin: auto auto;
  width: 100px;
  height: 100px;
  border: 3px solid #73AD21;
}
</style>
