
<h1 class="section-title">Sponsors</h1>

<div id="sponsors-desc">
  <p>This event would simply not be possible without the generous support of these fantastic companies:</p>
</div>

<div id="sponsors-img-div">
  <%= image_tag("ga-logo.png", id: "sponsors-img")%>
</div>


<div id="footer">
  <p>© 2016 WDI Conference by <a href="https://github.com/bevieboo">Bevin</a>, <a href="https://github.com/EmilyBie">Emily</a>, <a href="https://github.com/YehongYou">Leo</a>, <a href="">Keith</a>, <a href="https://github.com/hanernlee">Chris</a></p>
</div>
