<div class="container">
  <div class="conf-name"></div>
  <h2 class="conf-date">AUGUST 30TH</h2>
  <a href="/tickets"><div><button class="primary-button">BUY TICKETS</button></div></a>
  <div id="countdown"></div>
</div>
