<<<<<<< HEAD
<h1>Home page</h1>

<div>
  <a href="/users/new">sign up</a>
  <% if session[:user_id] %>
    <form action="/logout" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <input type="hidden" value="delete" name="_method">
      <button>Logout</button>
    </form>
  <% else %>
    <a href="/login"> log in </a> 
  <% end %>
  
=======
<div class="container">
  <div class="conf-name"></div>
  <h2 class="conf-date">AUGUST 30TH</h2>
  <a href="/tickets"><div><button class="primary-button">BUY TICKETS</button></div></a>
  <div id="countdown"></div>
>>>>>>> 08ee237b94af433f5a84065e7291845c4563330a
</div>
