#main-home {
  height: 100vh;
}

#about {
  height: auto;
  background-color: white;
  color: #222;
  text-align:center;

}
#location {
  height: auto;
  background-color: white;
  color: #222;
  text-align:center;

}

.section-title {
  font-size: 2em;
  padding-top:1.2em;
  padding-bottom:0.8em;
}

.about-title{
  opacity: 0;
  transform: translateY(-200px);
}

.about-content {
  margin:0 auto;
  width: 80%;
  padding-top:1em;
  opacity: 0;
  transform: translateX(200px);
}

.address-map-container {
  opacity: 0;
  transform: translateX(-200px);
}

#map {
  width: 45%;
  height: 250px;
  background-color: #CCC;
  margin:30px 30px 30px 20px;
  padding:10px;
  display: inline-block;
  vertical-align: middle;
  border:3px solid lavender;
  border-radius: 3px;

}

#map-marker-info {
  color:black;
}

.address {
  margin:30px 30px 30px 20px;
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  font-size: 1.2em;
  text-align: left;
}

.address p {
  font-size: 0.8em;
  color: #666;
  margin-top: 10px;
  margin-bottom: 10px;
}

.appear-content {
  opacity: 1;
  transform: translateX(0px);
  transition: 1s;
}

.about-footer {
  position: relative;
}

.tram {
  opacity: 0.8;
  height: 50px;
  position: absolute;
  top: 102px;
  left: 0;
}

.move-tram {
  opacity: 1;
  transform: translateX(2000px);
  transition: 25s;
}

.city-vector {
  width: 60%;
  height: 150px;
  margin-bottom: -5px;
  // position: absolute;
}
