#main-home {
  height: 100vh;
}

#about {
  height: auto;
  background-color:$caribbean-green;
  color:white;
  text-align:center;
  padding-top:5em;
  overflow:hidden;
}

.section-title {
  font-size: 2em;
}

.about-title{
  opacity: 0;
  transform: translateY(-200px);
}

.about-content {
  margin:0 auto;
  width: 80%;
  padding-top:1em;
  opacity: 0;
  transform: translateX(200px);
}

.address-map-container {
  opacity: 0;
  transform: translateX(-200px);
}


#map {
  width: 50%;
  height: 360px;
  background-color: #CCC;
  margin:30px 30px 30px 20px;
  padding:10px;
  display: inline-block;
  vertical-align: middle;
  border:3px solid lavender;
  border-radius: 3px;
}

#map-marker-info {
  color:black;
}

.address {
  margin:30px 30px 30px 20px;
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  font-size: 1.5em;
  text-align: left;
}

.address p {
  font-size: 0.8em;
  color:linen;
  margin-top: 10px;
  margin-bottom: 20px;
}

.appear-content {
  opacity: 1;
  transform: translateX(0px);
  transition: 1s;
}

.tram {
  opacity: 0;
  height: 50px;
}

.move-tram {
  opacity: 1;
  transform: translateX(200px);
  transition: 4s;

}
