#about {
  height: 100vh;
  background-color:white;
  color:black;
  text-align:center;
  padding-top:5em;
}

.section-title {
  font-size: 2em;
}

.about-content {
  margin: 2em auto;
  width: 80%;
}

#speakers {
  height:100vh;
}
