.admin-title {
  text-align:center;
  padding-top: 50px;
  padding-bottom: 30px;
}

#tickets {
  height:auto;
  background-color: $caribbean-green;
  padding-bottom: 50px;
  .admin-title {
    padding-top: 80px;
  }
}

#events-section {
  height:auto;
  background-color: $denim;
  padding-bottom: 50px;
  // .admin-title {
  //   padding-top: 80px;
  // }
}

#applications {
  height:auto;
  background-color: $caribbean-green;
  padding-bottom: 50px;
}

#event-speakers {
  height:auto;
  background-color: #F48F97;
  padding-bottom: 50px;

}

.ticket-status {
  text-align:center;
  margin:0 auto;
  margin-top:1em;
  margin-bottom:1em;
  width:50%;
  font-size:1.5em;
}
