.events-handler {
  margin-top: 50px;

  .add-event-btn {
    background-color: #5cb85c;
    padding: 5px 8px;
    margin-left: 50px;
    border:none;
    height: 35px;
    font-size: 1em;
    float: right;
    margin-right: 150px;
    margin-bottom: 20px;
  }

  .add-event-btn:hover {
    background-color: $california;
  }

  h1 {
    font-size:1.6em;
    text-align: center;
    padding:20px;
  }

  table, td, th {
    padding:10px 0px 10px 15px;
  }
  table {
    margin: 20px auto;
    width: 80%;
    border-collapse: collapse;
    border-radius: 6px;
    border-style: hidden;
    box-shadow: 0 0 0 2px white;
  }
  td{
    border: 1px solid white;
  }
  th {
    text-align: left;
    background-color: #2980b9;
  }

  .event-name-td {
    padding-right: 80px;
  }
  .event-time-td {
    padding-right: 100px;
  }
  .event-edit-td {
    padding-right: 15px;
  }
  form {
    display: inline-block;

  }
  .event-delete-tbn {
    border:none;
    background-color: inherit;
    cursor: pointer;
  }
  .event-edit-btn {
    border:none;
    background-color: inherit;
    padding-right: 10px;
    cursor: pointer;
  }
  .edit-hover {
    display: none;
    color:$california;
  }
  .delete-hover {
    display: none;
    color:$california;
  }
  .fa-pencil-square-o, .fa-trash {
    color:white;
  }
  .fa-pencil-square-o:hover {
    color: $california;
  }
  .fa-trash:hover {
    color: $california;
  }

}
.applying-users-handler {
  margin: 50px auto;

  h1 {
    font-size:1.6em;
    text-align: center;
    padding:20px;
  }
  th {
    text-align: center;
    background-color: CornflowerBlue;
    line-height: 60px;
  }
  table, td, th {
    padding:5px 20px 5px 20px;
  }
  table {
    border-collapse: collapse;
    border-radius: 6px;
    border-style: hidden;
    box-shadow: 0 0 0 2px white;
  }
  td {
    padding:10px;
    border: 1px solid white;
  }
  tr {
    line-height: 25px;
  }
  .applying-user-name {
    text-align: center;
  }
  .applying-topic {
    text-align: center;
  }
  .applying-content {
    // padding-left: 10px;
  }
  .applying-actions {
    text-align: center;
  }
  table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    padding:10px 0px 10px 15px;
  }

  .approve-button {
    border:none;
    background-color: CornflowerBlue;
    border-radius: 5px;
    padding:3px;
    height: 25px;
    width: 50px;
    color:white;
  }
  .reject-button {
    border:none;
    background-color: tomato;
    border-radius: 5px;
    padding:3px;
    height: 25px;
    width: 50px;
    color:white;
  }

  .approve-button:hover {
    background-color: royalblue;
  }
  .reject-button:hover {
    background-color: #CC00FF;
  }

}

.add-events-form {
  display: none;
  padding-top: 50px;
  #close-add-event {
    margin:10px;
    float:right;
    position:relative;
    right:30%;
  }
  form {
    margin:20px auto;
    width: 300px;
    text-align: left;
  }
  form input {
    font-size: 0.9em;
  }
  #total-seats {
    margin-top: 10px;
    width: 210px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 27px;
  }
  .add-event-submit {
    background-color: #f4b555;
    margin-top: 20px;
    color:white;
    font-weight: bold;
    font-size: 0.8em;
  }
  .add-event-submit:hover {
    background-color: #f39c12;
  }
}

.edit-events-form {
  display: none;
  padding-top: 50px;
  #close-edit-event {
    margin:10px;
    float:right;
    position:relative;
    right:30%;
  }
  form {
    margin:20px auto;
    width: 300px;
    text-align: left;
  }
  form input {
    font-size: 0.9em;
  }
  .edit-event-submit {
    background-color: #f4b555;
    margin-top: 20px;
    color:white;
    font-weight: bold;
    font-size: 0.8em;
  }
  .edit-event-submit:hover {
    background-color: #f39c12;
  }
}

.events-application-container {
  padding:1em;
  background-image: image-url('bg3.jpg');
  background-size:cover;

  a:hover {
    color:$california;
  }
}

.no-pending-msg, .no-event-msg {
  text-align: center;
  color:gray;
}

.speakers-list-form {
  margin: 50px auto;
  th {
    text-align: center;
    background-color: CornflowerBlue;
    line-height: 60px;
  }
  table, td, th {
    padding:5px 20px 5px 20px;
  }
  table {
    margin: 20px auto;
    width: 80%;
    border-collapse: collapse;
    border-radius: 6px;
    border-style: hidden;
    box-shadow: 0 0 0 2px white;
  }
  td {
    padding:10px;
    border: 1px solid white;
  }
  tr {
    line-height: 25px;
  }
}
