.checkout-wrap {
  text-align: center;
  width: 100%;
}

#order-checkout {
  width: 50%;
  margin: 0 auto;
}

.seat-checkout {}
.type-checkout {}
.price-checkout {}

.payment-form {
  display: block;
}
