.order-summary {
  width: 50%;
  margin: 70px auto;
  text-align: center;
  background-color: black;
  border: 1px solid #333 ;
  // border-radius: 6px;
}

.order-title {
  font-size: 40px;
  margin: 50px auto;
  color: #76D1ED;
  font-weight: bold;
}

#order-checkout {
  width: 80%;
  margin: 50px auto;
  margin-bottom: 50px;
  border: 1px solid #222;
}
// #order-checkout > table {
//   border: 1px solid #222;
// }

.order-summary table {
  border: 1px solid #222;
  // border-radius: 5px;
  padding: 6px 10px;
  border-collapse: collapse;
}
.order-summary tr {
  border: 1px solid #222;
}
.order-summary td {
  border: 1px solid #222;
}

// .seat-checkout {
//   background-color:$caribbean-green;
// }
//
// .type-checkout {
//   background-color:$denim;
// }
//
// .price-checkout {
//   background-color:$froly;
// }

.payment-form {
  display: block;
}

.total-checkout {
  margin: 10px auto;
}

.pay-now-btn {
  margin: 30px auto;
  margin-bottom: 40px;
}

.thank-you-msg-wrap{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 25vw;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  background-color: #ECECEC;
  border-radius: 6px;
  z-index: 100;
}

.thank-you-msg{
  height: 23vw;
  position: absolute;
  width: 96%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #333;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 6px;
  padding-top: 12px;

  a {
    margin-top: 6em;
    color: #888;
  }

  a:hover {
    color: $froly;
  }
}

.thank-you {
  left: 50%;
  margin-bottom: 20px;
  font-size: 40px;
  transform: translateX(-50%);
  text-align: center;
  color: #333;
  position: relative;
  margin-top: 22px;
}

.thank-you2 {
  margin-bottom: 20px;
  left: 50%;
  font-size: 26px;
  transform: translateX(-50%);
  text-align: center;
  position: relative;;
  color: #888;
  width: 100%;
  margin-top: 26px;
}

#canvas {
  position: absolute;
  top: 0px;
}

canvas {
  display: block;
  margin: 0px auto;
}

.back-to-choose-seats {
  cursor:pointer;
  color:white;
}

.back-to-choose-seats:hover {
  color: $froly;
}

.time-left {
  color:white;
  text-align: center;
  h4{
    margin:10px;
  }
}

#checkout-page {
  background-image: url('bg3.jpg');
  background-size:cover;
  background-position: center center;
  height:100%;
  padding:1em;
}

#counter {
  margin:0;
}
