#navmenu {
  position:fixed;
  background-color:rgba(0,0,0,0.7);
  width:100%;
  padding:0.5em;
  padding-right:1em;
  text-align:right;
  z-index:100;

  li {
    display:inline-block;
  }
}

#login-icon, #logout-icon {
  float:left;
  margin-top:6px;
  transition:0.5s;
}

#login-icon:hover, #logout-icon:hover {
  color:$california;
}

#show-menu {
  height: 100vh;
  width: 100%;
  display:none;
  text-align:center;
  position:relative;
  z-index:100;
}

#icon-list {
  width:50%;
  margin: 0 auto;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle-div {
  height: 10em;
  width:10em;
  display:inline-block;
  margin:1em;
  border:2px solid white;
  border-radius:6px;
  text-align:center;
  transition:1s;
}

.icons {
  margin: 0 auto;
  margin-bottom:0.1em;
  width:100%;
  padding-top:0.9em;
  display:inline-block;
  transition:0.5s;
}

.icon-desc {
  transition:0.5s;
}

.fa-bars, .fa-close {
  transition: .5s;
}

.fa-bars:hover, .fa-close:hover, .fa-user:hover {
  color:$california;
}

.circle-div:hover .icons{
  color:$california;
}

.circle-div:hover .icon-desc{
  color:$california;
}

.circle-div:hover{
  border-color:$california;
}
