.sign-in-btn {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  // margin: 15px auto;
  margin-bottom: 15px;
}

.sign-in-btn:hover {
  background-color: white;
  color: black;
}

#signup-form {
  display:none;
}

#both-forms {
  height: 100vh;
  width: 100%;
  display:none;
  z-index:50;
}

.form-type {
  width:60%;
  text-align:left;
  position:absolute;
  top:40%;
  left:50%;
  transform: translate(-50%, -50%);
}

.link-underline {
  text-decoration: underline;
  color:$caribbean-green;
}

input {
  width: 100%;
  height:3em;
  margin: 8px 0;
  outline-color:$caribbean-green;
  border-radius:6px;
  border:none;
}

textarea {
  width: 100%;
  height:10em;
  margin: 8px 0;
  outline-color:$caribbean-green;
  border-radius:6px;
  border:none;
}
