#greeting {
  position:absolute;
  margin-top:0.5em;
  font-size:4em;
  -webkit-animation: slide-in 1s;
      -moz-animation: slide-in 1s;
       -ms-animation: slide-in 1s;
        -o-animation: slide-in 1s;
           animation: slide-in 1s;
}

#show-profile {
  width:100vw;
  height:50vh;
  background-image:url('bg3.jpg');
  padding:1em;
}


#img-profile {
  position:absolute;
  bottom:31%;
  border:3px solid white;
  border-radius:50%;
  border:3px solid $caribbean-green;
  border-radius: 50%;
  height:15em;
  width:15em;
  transition:0.5s;
}

#img-profile:hover {
  -webkit-animation: rubberBand 1s;
  animation: rubberBand 1s;
}

#edit-page {
  min-height:100vh;
  height:auto;
  max-width:100vw;
  overflow-x:hidden;

  a:hover {
    color:$froly;
  }
}

#profile-section {
  position:relative;
  top:70%;
  right:10%;
  text-align:right;
  transition:0.5s;

  li {
    display:inline-block;
    padding:1em;
    border:1px solid white;
    margin-left:5em;
    -webkit-animation: slide-in-left 1s;
        -moz-animation: slide-in-left 1s;
         -ms-animation: slide-in-left 1s;
          -o-animation: slide-in-left 1s;
             animation: slide-in-left 1s;
  }


  li:hover {
    border-color:$froly;
  }
}

#desc-section {
  width: 100%;
  margin: 0 auto;
  min-height:50vh;
  height:auto;
  background-color: $caribbean-green;
  transition:0.5s;
}

#description {
  position:relative;
  top:10%;
  left:30%;
  transition:0.5s;
}

#speaker-form {
  background-image: image-url('seating-bg.jpg');
  background-size:cover;
  height:100vh;
  display: none;
  position:relative;
  padding-top:8em;
}

.application-form{
  width: 60%;
  margin:0 auto;
  border-radius: 20px;
  padding:1em;
  text-align:left;

  form {
    padding:2em;
  }

  label {
    margin:0;
  }

  button {
    margin-top:2em;
  }
}

.close-btn {
  text-align:right;
  float:right;
  position:relative;
  right:6%;
}

.form-title {
  position:relative;
  width:80%;
  left:5%;
}

#view-page {
  background-image: image-url('seating-bg.jpg');
  background-size:cover;
  height:100vh;
  padding:1em;

  form {
    margin-top:6em;
  }
}

.close-btn-two {
  text-align:right;
  float:right;
  position:relative;
  margin-top:2em;
}

.form-title-two {
  position:absolute;
  top:5%;
}

.form-type-two {
  width:60%;
  text-align:left;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.speaker-status {
  text-align:left;
  padding-top:8em;
  padding-left:2em;
  -webkit-animation: slide-in-left 1s;
      -moz-animation: slide-in-left 1s;
       -ms-animation: slide-in-left 1s;
        -o-animation: slide-in-left 1s;
           animation: slide-in-left 1s;
}

.topic-speaker {
  font-weight: bold;
  text-decoration: underline;
  color:$denim;
}

@keyframes slide-in {
    from { transform: translateY(-500px); }
    to   { transform: translateY(0); }
}

@keyframes slide-in-left {
    from { transform: translateX(-1000px); }
    to   { transform: translateX(0); }
}
