#greeting {
  position:absolute;
  margin-top:0.5em;
  font-size:4em;
}

#show-profile {
  position:absolute;
  top:45%;
  left:50%;
  transform: translate(-50%, -50%);
}

#img-profile {
  border:3px solid white;
  border-radius:50%;
  border:3px solid $california;
  border-radius: 50%;
  height:15em;
  width:15em;
}

#img-profile:hover {
  -webkit-animation: rubberBand 1s;
  animation: rubberBand 1s;
}

#edit-page {
  background-image: image-url('seating-bg.jpg');
  background-size:cover;
  height:100vh;
  padding:1em;

  a:hover {
    color:$california;
  }
}

#edit-profile {
  position:absolute;
  bottom:30%;
  left:50%;
  transform: translate(-50%, -50%);

  li {
    display:inline-block;
    margin-left:10px;
  }

}

#desc-section {
  width: 70%;
  margin: 0 auto;
  margin-top:32em;

  text-align:center;
}

#speaker-form {
  background-image: image-url('seating-bg.jpg');
  background-size:cover;
  height:100vh;
  display: none;
  position:relative;
  padding-top:8em;
}

.application-form{
  width: 60%;
  margin:0 auto;
  border-radius: 20px;
  padding:1em;
  text-align:left;

  form {
    padding:2em;
  }

  label {
    margin:0;
  }

  button {
    margin-top:2em;
  }
}

.close-btn {
  text-align:right;
  float:right;
  position:relative;
  right:6%;
}

.form-title {
  position:relative;
  width:80%;
  left:5%;
}

#view-page {
  background-image: image-url('seating-bg.jpg');
  background-size:cover;
  height:100vh;
  padding:1em;

  form {
    margin-top:6em;
  }
}

.close-btn-two {
  text-align:right;
  float:right;
  position:relative;
  margin-top:2em;
}

.form-title-two {
  position:absolute;
  top:5%;
}

.form-type-two {
  width:60%;
  text-align:left;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
