#schedule {
  height: 100vh;
  background-color:$vivid-violet;
  color:white;
  text-align:center;
  padding-top:5em;
}

#schedule h1{
  font-size: 2em;
  text-align: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 20px;
}

#schedule hr.vertical{
  width: 5px;
  height: 20px;
  background-color: white;
  margin-top: 0;
  margin-bottom: 0;
  clear: both;
}

#schedule .talk-card{
  height: 64px;
  *{
    box-sizing: border-box;
  }

  img {
    border:3px solid white;
    border-radius: 50%;
    height:4em;
    width:4em;
    display: inline-block;
    transition: 1s;
  }

  img:hover{
    -webkit-animation: rubberBand 1s;
    animation: rubberBand 1s;
  }

  .left{
    display: inline-block;
    width: 45%;
    height: 64px;
    float: left;
  }

  .right{
    display: inline-block;
    width: 45%;
    height: 64px;
    float: left;
  }

  .right p{
     height: 100%;
     overflow: hidden;
     width: 0;
     transition: 1s;
     background-color: rgba(255, 255, 255, 0.5);
     border-radius: 10px;
     padding-top: 10px;
     height: 90px;
  }

  .left p{
     height: 100%;
     overflow: hidden;
     width: 0;
     transition: 1s;
     background-color: rgba(255, 255, 255, 0.5);
     border-radius: 10px;
     padding-top: 10px;
     float:right;
     height: 90px;
  }

  .middle{
    display: inline-block;
    width: 10%;
    float: left;
    height: 64px;
  }
}

.schedule-title {
  opacity: 0;
  transform: translateY(-200px);
}

.talk-card {
  opacity: 0;
  transform: translateX(-200px);
}

.vertical {
  opacity: 0;
  transform: translateY(-200px);
}

.appear-title {
  opacity: 1;
  transform: translateY(0);
  transition:1s;
}

.appear-card {
  opacity: 1;
  transform: translateX(0px);
  transition: 1s;
}
