#schedule {
  height: auto;
  background-color: $denim;
  text-align:center;
  overflow:hidden;
  color: white;
  padding-bottom: 7em;
}

#schedule h1::after {
  content: "";
  background-color: white;
  display: block;
  width: 158px;
  height: 3px;
  top: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
}

.schedule-title {
  opacity: 0;
  transform: translateY(-200px);
  // color: #456990;
  color: white;
}

.appear-title {
  opacity: 1;
  transform: translateY(0);
  transition:0.5s;
}

.timeline ul {
  background-color: $denim;
}

.timeline-left, .timeline-right {
  display: flex;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 20px;
  background: rgba(255, 255, 255, 0.5);
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
}
//
// .timeline ul li div::before {
//   content: '';
//   position: absolute;
//   bottom: 7px;
//   width: 0;
//   height: 0;
//   border-style: solid;
// }

.timeline img {
  width: 100px;
  margin-left: 20px;
  border-radius: 50%;
}

.timeline p {
  text-align: left;
  margin-left: 30px;
  margin-bottom: 0;
  line-height: 1.8;
}
.speaker-image img{

}
.speaker-info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.timeline-left {
  left: 45px;
  border-radius: 6px;
}

.timeline-left::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
  left: -16px;
  border-width: 8px 16px 8px 0;
  border-color: transparent rgba(255, 255, 255, 0.5) transparent transparent;
}

.timeline-right {
  left: -439px;
  border-radius: 6px;
}

.timeline-right::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
  right: -16px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.5);
}



/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: white;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline-left {
  transform: translate3d(200px, 0, 0);
}

.timeline-right {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline-right {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline-right {
    left: 45px;
  }
  .timeline-right::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent rgba(255, 255, 255, 0.5) transparent transparent;
  }
}
