#schedule {
  height: auto;
  background-color:$vivid-violet;
  color:white;
  text-align:center;
  padding-top:5em;
}
#schedule h1{
  font-size: 2em;
  text-align: center;
  color: #808080;
  padding-top: 10px;
  padding-bottom: 20px;
}

#schedule hr.vertical{
  width: 2px;
  height: 20px;
}
