#speakers {
  height: auto;
  background-color:$denim;
  text-align:center;
  overflow:hidden;
  color: #CFF6FE;
  padding-bottom: 5em;
  z-index: 1;
}

#speakers h1::after {
  content: "";
  background-color: #CFF6FE;
  opacity: 0.5;
  display: block;
  width: 158px;
  height: 3px;
  top: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.speaker-title {
  opacity: 0;
  transform: translateY(-200px);
}

#speakers h1 {
  padding-bottom: 2em;
}

#display-speakers {
  width: 80%;
  margin: 0 auto;
}

.speakers-card {
  margin-top:2em;
  display:inline-block;
  text-align:center;
  width:30%;
  opacity: 0;
  transform: translateX(-20px);
  position: relative;

  img {
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    border-radius: 5px;
    height:20vw;
    width:20vw;
  }

}

.speakers-card:hover .speaker-box {
  opacity: 0.8;
}
.speakers-card:hover .speaker-box p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.speakers-card:hover img {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.speaker-box {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: white;
  height: 20vw;
  width: 20vw;
  position: absolute;
  z-index: 500;
  left: 2vw;
  border-radius: 5px;
  opacity: 0;
  color: $denim;
  line-height: 1.6;
  font-size: 1.1vw;
}

.speaker-box p {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  width: 70%;
  font-size: 1.1vw !important;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.appear {
  opacity: 1;
  transform: translateY(0px);
  transition: 2s;
}
