#speakers {
  height: auto;
  background-color:aliceblue;
  color:#808080;
  text-align:center;
  padding-top:5em;
}

.speakers-card {

  margin-top:2em;
  margin-bottom:3em;
  display:inline-block;
  text-align:center;
  width:20%;
  opacity: 0;
  transform: translateX(-20px);

  img {
    border:3px solid #f39c12;
    border-radius: 140px;
    width: 70%;
    height: auto;
  }

}

.speakers-card:hover {
  -webkit-animation: rubberBand 1s;
  animation: rubberBand 1s;
}

.appear {
  opacity: 1;
    transform: translateY(0px);
    transition: 1s;
}
