#sponsors {
  height: auto;
  background-color: $california;
  color:white;
  text-align:center;
  padding-top:5em;
  overflow:hidden;

  #sponsors-desc {
    margin-top:4em;
  }

  #sponsors-img-div {
    margin-top:4em;
  }

  .sponsors-img {
    height:auto;
    width:15em;
  }

  .sponsors-img:hover {
    -webkit-animation: tada 1s;
    animation: tada 1s;
  }

  #footer {
    margin-top:9em;


    a {
      color:black;
    }
  }

  #panda {
    width:13em;
    padding-bottom:1.5em;
  }

}

.sponsors-title {
  opacity: 0;
  transform: translateY(-200px);
}

.sponsors-content {
  opacity: 0;
  transform: translateX(200px);
}

.sponsors-img {
  opacity: 0;
  transform: translateX(-200px);
}

.appear-title {
  opacity: 1;
  transform: translateY(0);
  transition:1s;
}

.appear-sponsors {
  opacity: 1;
  transform: translateX(0);
  transition:1s;
}
