#sponsors {
  height: 100vh;
  background-color:white;
  color:black;
  text-align:center;
  padding-top:5em;
}

#sponsors-desc {
  margin-top:4em;
}

#sponsors-img-div {
  margin-top:4em;
}

#sponsors-img {
  height:auto;
  width:200px;
}

#footer {
  position:relative;
  top:30%;

  a {
    color:orange;
  }
}
