.seating-wrap {
  // perspective: 480px;
  text-align: center;
}

#seating-plan {
  text-align: center;
  margin-top: 80px;
  // transform: rotateX(35deg);
}

.row, .seat {
  text-align: center;
}

.seat:hover {
  background-color: pink;
  transition: 0.5s;
  color: white;
}

.seat {
  display: inline-block;
  background-color: lightblue;
  width: 50px;
  height: 50px;
  margin: 10px 10px;
  border-radius: 6px;
  vertical-align: top;
  line-height: 50px;
  color: lightblue;
  cursor: pointer;
}

.premium-seat {
  background-color: blue;
  color: blue;
}

.selected {
  background-color: #E75480;
  color: white;
}

#selected-seats {
  text-align: center;
}

.chosen-seat {
  width: 80px;
  height: 50px;
  background-color: lightgreen;
  border-radius: 6px;
  vertical-align: top;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  margin: 0 10px;
}

#display-breakdown {
  text-align: center;
  margin: 30px auto;
  font-size: 20px;
}
