$california: #f39c12;
$vivid-violet: #8e44ad;
$denim: #2980b9;
$caribbean-green: #1abc9c;

// rose-pink
$froly: #F4757C;

// Chris, if you wanna use a hover pink:
// This is a stronger pink :)
$carnation: #F65966;
