#video-overlay {
  // z-index: -50;
  position: relative;
  text-align: center;
  // top: 100%;
  height: 100vh;
}

#video-background {
  background-color:rgba(0,0,0,0.7);
  height:100vh;
  overflow: hidden;
  z-index: -50;
  top: 100%;


}

#vid {
  position: absolute;
  top: 100%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
//
// ::-webkit-media-controls {
//   display:none !important;
// }
