#overlay {
  position:relative;
}

::-webkit-media-controls {
  display:none !important;
}

#vid {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#video-overlay {
  position: absolute;
  background-color:rgba(0,0,0,0.8);
  height: 100vh;
  min-width:100%;
  overflow: hidden;
  top: 0;
}
