#video-overlay {
  background-color:rgba(0,0,0,0.5);
  position:absolute;
  z-index:-50;
  height:100vh;
  overflow:hidden;
}

#vid {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

::-webkit-media-controls {
  display:none !important;
}
