<div class="thank-you-msg-wrap">
  <div class="thank-you-msg">
    <h1 class="thank-you">Thank you! </h1>
    <h1 class="thank-you">You paid <strong>$<%= @amount/100 %>.00</strong>!</h1>
    <h2 class="thank-you2">Your tickets will be sent to your email.</h2>
    <h2 class="thank-you2">See you at the event!</h2>
    <a href ="/">Back to Main Page</a>
  </div>
</div>

<canvas id="canvas"></canvas>
